beautifulsoup4==4.10.0
bios==0.1.2
requests==2.27.1
networkx==2.6.3
matplotlib==3.9.0
numpy==2.0.0
pytest~=7.1.2
dash~=2.5.1
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.14.0
eutils~=0.6.0
py4cytoscape==1.5.0
mysql-connector-python==8.0.33
logger~=1.4
